<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.1.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.1.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
    
  
  <section class="menu menu2 cid-sd1f4Rqb6j" once="menu" id="menu2-0">
      
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        
        
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="assets/images/logo.png" alt="Mobirise" style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">FX Analytica</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="/">
                            Home</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="/">
                            Analysis</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="/">PAICC</a>
                    </li><li class="nav-item"><a class="nav-link link text-black display-4" href="/">Scalping</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/">Blogs</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/">Education</a></li></ul>
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="https://t.me/forexanalyticalegit">Join Now</a></div>
            </div>
        </div>
    </nav>
</section>

<section class="header2 cid-sd1fjWfMxv mbr-fullscreen mbr-parallax-background" id="header2-1">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(24, 23, 23);"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9" style="color: white;">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>WATCH, FOLLOW &amp; PROFIT TOGETHER.</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">Trade the markets just following the signals given by our experts at FX Analytica's telegram Channel.
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://t.me/forexanalyticalegit">Join Now</a>
                    <a class="btn btn-primary-outline display-4" href="/"><span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>See more&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-sd1GqbtGQF" id="features17-y">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq1.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Who Are We</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            We are a team of more than 5 professional traders with years of experience in the financial markets. We scan the markets 24/7 every single day. We decided to build our company to help retail forex traders profit consistently every month using our expertise. </p>
                        <div class="mbr-section-btn mt-3">
                            <a class="btn btn-primary display-4" href="https://t.me/forexanalyticalegit">
                                Learn more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features12 cid-sd1fyCqHSN" id="features13-5">

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>PROFIT IN 4 SIMPLE STEPS!</strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Join our FREE Telegram channel where we provide signals with more than 90% accuracy.</p>
                        <div class="mbr-section-btn">
                            <a class="btn btn-primary display-4" href="https://t.me/forexanalyticalegit">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-globe-2 mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Step 1</strong>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">click <a href="https://t.me/forexanalyticalegit">here</a> to join oir free Telegram chan with over two thousand subscribers</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-update mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Step 2</strong>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">
                            We do all the hard work for you.So simply <a href="https://t.me/forexanalyticalegit" style="color:  blue;">copy</a> the signals provided by our professional traders.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-growing-chart mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Step 3 </strong>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">
                            Follow our signals and trade. With our unbeatable accuracy, you will be able to trade like a pro.</h5>
                    </div>
                </div>
                <div class="item mbr-flex">
                    <div class="icon-box">
                        <span class="mbr-iconfont mobi-mbri-success mobi-mbri"></span>
                    </div>
                    <div class="text-box">
                        <h4 class="icon-title mbr-black mbr-fonts-style display-7">
                            <strong>Step 4</strong>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style display-4">Make consistently huge profit and highly impressive returns with low-risk investments.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features24 cid-sbipc6mdJp" id="features1-1h">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>  Why people around the world choose us</strong>
                </h3>
                <br><br>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-clock mobi-mbri" style="font-size: 100px; color: blue;"></span><br>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>WE SAVE YOUR TIME
                        </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">You don’t need to spend hours in front of the charts and news channel everyday. We do that for you while you can spend that time elsewhere. You can have our service and make money while you are on a job or spending time with your family.</p>
                    </div>
                </div>
            </div>
           
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-credit-card mobi-mbri" style="font-size: 100px; color: blue;"></span><br>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>WE SAVE YOU MONEY
                        </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Making money consistently in the Forex market takes years of experience which includes losing a lot of money in the process. We trade our expertise to save you from the losses and make you money from the beginning.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-growing-chart mobi-mbri" style="font-size: 100px; color: blue;"></span><br>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>UNBEATABLE ACCURACY.</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We hold an accuracy of more than 87% which allows us to have a very little drawdown and maximum profits. All results are verified. Give our Free Telegram channel a visit to verify our results.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-users mobi-mbri" style="font-size: 100px; color: blue;"></span><br>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>24/7 SUPPORT
                        </strong></h5>
                        <p class="card-text mbr-fonts-style display-7">You can contact us any time of the day. We will get back to you in the shortest period of time. You can message us anytime of the day with any of your queries. We are always there to help.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-sd1fp69cS6" id="features4-2">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Services</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product2.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Signals</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Trading signals</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae ut harum voluptates, dolorum saepe ab.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://t.me/forexanalyticalegit" class="btn item-btn btn-black display-7" target="_blank">see more &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/sq1.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Analysis</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                           Indepth analysis </h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, officia.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://t.me/forexanalyticalegit" class="btn item-btn btn-black display-7" target="_blank">Start Now &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product1.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>News</strong></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">Relevant news</h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex doloremque aspernatur ipsa sit repellat porro!<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://t.me/forexanalyticalegit" class="btn item-btn btn-black display-7" target="_blank">Start Now &gt;</a></div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="features16 cid-sd1fDwfuJc" id="features17-7">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq1.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Copy Trading</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Here at FX analytica, we do all the hard work for our clients. We analyse the markets, keep a close eye on world economy and craft the perfect signal for our clients. We give details of every trade we take including Entry Price, Stop Loss and Take Profit. The clients copy and paste the details into their trading platform from their phones and we make money together.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://t.me/forexanalyticalegit">
                                Learn more
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sd1fBSGSgW" id="features16-6">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>Free Channel</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            We provide 1-2 free signals in our free telegram channel every day. <br>
                             you could  test our signals, go to our <a href="https://t.me/forexanalyticalegit">free channel</a> and test it out.</p>
                             <br>
                             Thousands of member are making money from our free signals every day.
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://t.me/forexanalyticalegit">Join Free channel</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq2.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="features16 cid-sd1fDwfuJc" id="features17-7">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/sq1.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-5">
                            <strong>Paid Channel</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Our professional traders analyse the market every day. Members are notified via message in <strong><a href="https://t.me/forexanalyticalegit">Telegram channel </a></strong> everytime we take a trade. Our VIP members get 5-8 top quality signals every day. VIP members get support with any of their queries 24/7. Our target is  achieving 1000+ pips every week so that our clients can profit regardless of their account size. We have an unbeatable accuracy rate of more than 85%. We help all our VIP members with their money management.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="https://t.me/forexanalyticalegit">
                              Upgrade to pro
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features5 cid-sd1ftsxNhB" id="features6-3">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>Over 10,000+ pips weekly</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            Over the past 3 years we have made over 23,000,000 pips. which we at FX analytica share to our paid subscribers.</p>
                        <div class="mbr-section-btn">
                            <a href="https://t.me/forexanalyticalegit" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img1 align-center">
                        <span class="mbr-iconfont mobi-mbri-growing-chart mobi-mbri"></span>
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5">
                            <strong>professional analyst</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            We are a team of more than 15 professional traders with years of experience in the financial markets. We scan the markets 24/7 every single day.</p>
                        <div class="mbr-section-btn">
                            <a href="https://t.me/forexanalyticalegit" class="btn btn-primary display-4">Learn more</a>
                        </div>
                    </div>
                    <div class="img-wrapper img2 align-center">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing2 cid-sd1g85N7lO" id="pricing2-c">
    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 align-center">
                <h1 class="mbr-section-title mb-4 display-2"><strong>pricing</strong></h1>
            </div>
            <div class="col-12 align-center">
                <p class="mbr-text mbr-fonts-style mb-5 display-5">Upgrade to pro and join our premium channel</p>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Monthly</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-1"><strong>$30</strong></p>
                            <!-- <p class="price-term mbr-fonts-style mb-3 display-7"><strong>Per month</strong>
                            </p> -->
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">3/5 Signals
                                </li><li class="list-group-item"> 24/7 Monitoring
                                </li><li class="list-group-item">Subscription Support
                                </li><li class="list-group-item">Technical Analysis</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Quarterly</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-1"><strong>$100</strong></p>
                            <p class="price-term mbr-fonts-style mb-3 display-7"><strong>Most Popular</strong>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">3/5 Signals
                                </li><li class="list-group-item"> 24/7 Monitoring
                                </li><li class="list-group-item">Subscription Support
                                </li><li class="list-group-item">Technical Analysis</li>
                                <li class="list-group-item"> Free Ebook
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Bi-quarterly</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-1"><strong>$179</strong></p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">3/5 Signals
                                </li><li class="list-group-item"> 24/7 Monitoring
                                </li><li class="list-group-item">Subscription Support
                                </li><li class="list-group-item">Technical Analysis</li>
                                <li class="list-group-item"> Free Ebook
                                </li>
                                <li class="list-group-item"> Trading Query support 
                                </li>
                                
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Yearly</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-1"><strong>$299</strong></p>
                            <p class="price-term mbr-fonts-style mb-3 display-7"><strong>best deal</strong>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <li class="list-group-item">3/5 Signals
                            </li><li class="list-group-item"> 24/7 Monitoring
                            </li><li class="list-group-item">Subscription Support
                            </li><li class="list-group-item">Technical Analysis</li>
                            <li class="list-group-item"> Free Ebook
                            </li>
                            <li class="list-group-item"> Trading Query support 
                            </li>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features6 cid-sd1fu0au0r" id="features7-4">
    <!---->
    

    
    <div class="container">
        <div class="card-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/product2.jpg" alt="Mobirise">
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-box">
                        <h5 class="mbr-title mbr-fonts-style display-2">
                            <strong>Special Lifetime Access</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style display-7">If you're wondering how to build a website, Mobirise can be the answer. Start creating your website with pre-made blocks and place your own content. Select the theme that suits you. Each theme contains a set of unique blocks.</p>
                        <div class="cost">
                            <span class="currentcost mbr-fonts-style pr-2 display-2">$399</span>
                            <span class="oldcost mbr-fonts-style display-2">$1189</span>
                        </div>
                        <div class="mbr-section-btn pt-3">
                            <a href="/" class="btn btn-primary display-4">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials2 cid-sd1Ca1VwWN" id="testimonials2-x">
    
    
    <div class="container">
        <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
            <strong>Testimonials</strong>
        </h3>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">Themes in the Mobirise website builder offer multiple blocks: intros, sliders, galleries, forms, articles, and so on. Start a project and click on the red plus buttons to see the blocks available for your theme.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/team1.jpg" alt="Mobirise">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Martin Smith</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Client</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6">
                <p class="mbr-text mbr-fonts-style mb-4 display-7">You can have multiple pages in each project in Mobirise website builder software. Don't forget to set links to your pages after creating them. You can use menu blocks to create navigation for your site visitors.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <div class="image-wrapper">
                        <img src="assets/images/team2.jpg" alt="Mobirise">
                    </div>
                    <div class="text-wrapper">
                        <p class="name mbr-fonts-style mb-1 display-4">
                            <strong>Jessica Brown</strong>
                        </p>
                        <p class="position mbr-fonts-style display-4">
                            <strong>Client</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="clients1 cid-sd1gc0nDt4" id="clients1-d">
    
    <div class="images-container container">
        <div class="mbr-section-head">
            
            
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-3 card">
                <img src="assets/images/1.png">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/2.png">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/3.png">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/4.png">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/2.png">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/3.png">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/4.png">
            </div>
            <div class="col-md-3 card">
                <img src="assets/images/5.png">
            </div>
        </div>
    </div>
</section> -->

<section class="content2 cid-sd1fNwgfQu" id="content2-8">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Our Blog</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Read the recent blog posts about
                Mobirise</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product5.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="#top" class="text-black">Easy and Simple</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            <strong>John Smith</strong><em> 10-10-2025</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Mobirise Page Maker is a free and simple
                            website builder - just drop site blocks to your page, add content and style it!</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-primary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product4.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="#top" class="text-black">Auto Mobile</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Ann
                                Brown</strong><em>&nbsp;09-09-2025</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Mobirise Site Creator offers a huge
                            collection of 3500+ site blocks, templates and themes with thousands flexible options.<br>
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/product3.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="#top" class="text-black">Boost Your Rank</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Jessica Doe
                            </strong><em>08-08-2025</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Mobirise Page Maker is a free and simple
                            website builder - just drop site blocks to your page, add content and style it!</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="form1 cid-sd1fWe0IQC" id="form1-a">

    

    
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="toFtlsJQzYqKHUPSUUc0/gekq7iRKgJhdF2Q1u1tDXftkK7lKJV/WECYCkF3P1tfpS6zj8ziFwCEHIkLzfVD0VojYENvoHoll/Dv18Gur6iFpTOxalLKHx1/NvVcb9fT">
                    <div class="">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                            out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                            problem!</div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-12">
                            <h1 class="mbr-section-title mb-4 display-2"><strong>Get Latest Signals</strong></h1>
                        </div>
                        <div class="col-12">
                            <p class="mbr-text mbr-fonts-style mb-5 display-7">Start getting weekly analysis to help you trade and grab pips in the coming week.</p>
                        </div>
                        <div class="col-md col-12 form-group" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="Name" class="form-control" id="name-form1-a">
                        </div>
                        <div class="col-md col-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="Email" class="form-control" id="email-form1-a">
                        </div>
                        <div class="mbr-section-btn col-12 col-md-auto">
                            <button type="submit" class="btn btn-primary display-4">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="footer3 cid-sd1g4pTliu" once="footers" id="footer3-b">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white" href="#" target="_blank">About us</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white" href="#" target="_blank">Services</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white" href="#" target="_blank">Contact Us</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">FAQ</li><li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white" href="#" target="_blank">Work</a>
                    </li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://twitter.com/fx__analytica" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/Fx__analytica" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://instagram.com/fx__analytica" target="_blank">
                            <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://t.me/forexanalyticalegit" target="_blank">
                            <span class="socicon-telegram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2020 Fxanalytica All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</section>

<script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/theme/js/script.js"></script>  <script src="assets/formoid/formoid.min.js"></script>  
  
  
</body>
</html>
